# dependencies
node_modules
**/node_modules

# build
dist
build
.next
**/.next

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output

# IDEs
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode

# env
.env

# temp
.temp
.tmp

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Prisma
/generated/prisma